.pagination {
  font-size: 12px;
  margin: 10px;
  width: 100%;
  > li {
    display: inline-block;
    margin: 0 10px;
  }

  [class^="previous disabled"] {
    color: darkgray;
  }

  [class^="next disabled"] {
    color: darkgray;
  }

  [class^="active"] {
    font-weight: 700;
  }
}

.menuBlock:hover {
  color: #2a4365;
  background-color: #bee3f8;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .td[data-th]:before {
    content: attr(data-th);
    display: block;
    font-family: var(--chakra-fonts-heading);
    font-weight: var(--chakra-fontWeights-bold);
    text-transform: uppercase;
    letter-spacing: var(--chakra-letterSpacings-wider);
    text-align: start;
    padding-top: var(--chakra-space-3);
    padding-bottom: var(--chakra-space-3);
    line-height: var(--chakra-lineHeights-4);
    font-size: var(--chakra-fontSizes-xs);
    color: var(--chakra-colors-gray-600);
    border-bottom: var(--chakra-borders-1px);
    border-color: var(--chakra-colors-gray-100);
    display: block;
  }
}
